In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import cv2

In [3]:
path = 'D:\\ILBS_14_8_21_Sanjeev\\Work_to_be_Completed_ILBS\\'

In [4]:
pid = []
image_file = []
for fname in os.listdir(path):
    if fname.isdigit():
        pid.append(fname)
        for fname_ins in os.listdir(path+fname):
            image_file.append(path+fname+'\\'+fname_ins)

In [5]:
df_f = pd.DataFrame(image_file)

In [39]:
df_f[0][1].split('\\')[-2]

'00910'

In [6]:
df_label = pd.read_excel(path+'\\'+'HVPG value with CT images.xlsx')

In [7]:
df_label.head()

      ID       Date  HVPG
0   9109 2019-01-30    21
1  19699 2019-02-13    12
2  31322 2019-02-15    17
3  45341 2019-02-13    16
4  49565 2019-02-06    10

In [8]:
labels = []
for row in df_f.values.tolist():
    id_ = int(row[0].split('\\')[-2])
    if id_ == 910:
        id_ = 9109
    for rows in df_label.values.tolist():
        if id_==rows[0]:
            labels.append([row[0],rows[-1]])
           # print(label)
        #break
    #print(row,id_)
    #break

In [9]:
len(labels)

35011

In [10]:
len(df_f)

35011

In [11]:
df = pd.DataFrame(labels,columns=['path','label'])

In [12]:
df.head()

                                                path  label
0  D:\ILBS_14_8_21_Sanjeev\Work_to_be_Completed_I...     21
1  D:\ILBS_14_8_21_Sanjeev\Work_to_be_Completed_I...     21
2  D:\ILBS_14_8_21_Sanjeev\Work_to_be_Completed_I...     21
3  D:\ILBS_14_8_21_Sanjeev\Work_to_be_Completed_I...     21
4  D:\ILBS_14_8_21_Sanjeev\Work_to_be_Completed_I...     21

In [13]:

image_path = df['path'][0]
def imread(path):
    image_path = path
    IMG_HEIGHT = IMG_WIDTH =250
    image= cv2.imread( image_path, cv2.COLOR_BGR2RGB)
    image=cv2.resize(image, (IMG_HEIGHT, IMG_WIDTH),interpolation = cv2.INTER_AREA)
    image=np.array(image)
    image = image.astype('float32')
    image /= 255
    return image

In [ ]:
df['imarray'] = df['path'].apply(imread)